<div class="{% if include.container == 'fluid' %}container-fluid{% else %}container{% endif %}">
    <div class="row py-2">
        <div class="{% if include.dimension == 'small' %}col-md-8 offset-md-2 col-sm-12{% else %}col-md-12{% endif %}">
            <div class="badge-container">
                {% for n in site.data[{{include.data}}] %}
                <div class="card">
                    <div class="label">{{ n[include.number] }}</div>
                    <div class="value">{{ n[include.description] }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>