---
---

@charset "utf-8";
@use "sass:math";
@use 'sass:list';


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Overrides gitdev-dark.scss */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

// Colors

$body-color: #fff !default;
$body-bg: #1D2225 !default;

$primary: mix($body-color, $body-bg, 10%) !default;
$secondary: mix($body-color, $body-bg, 90%) !default;
$white: #fff !default;
$black: #373e47 !default;
$link-color: #fdb462 !default;
$success: #2da44e !default;
$warning: #d4a72c !default;
$danger: #D86F75 !default;
$info: #9686BE !default;
$code-color: #E75CA2 !default;


// Typography

$headings-font-family: 'Montserrat', Roboto !default;
$page-title-font-family: 'Montserrat', Roboto !default;
$font-family-base: 'Montserrat', Roboto !default;
$font-family-monospace: 'Space Mono', monospace !default;
$headings-font-weight: 700 !default;
$text-muted: #8b949e !default;

// Chulapa components

$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-toggler-border-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-hover-color: $text-muted !default;
$navbar-chulapa-brand-color: $navbar-chulapa-text-color !default;

$footer-chulapa-bg-color: $body-bg !default;
$footer-chulapa-text-color: $text-muted !default;
$footer-chulapa-hover-color: #FB8804 !default;
$footer-chulapa-icon-hover-color: mix($footer-chulapa-hover-color, $footer-chulapa-bg-color, 20%) !default;

// Misc
// Blockquote
$blockquote-chulapa-bg-color: $body-bg !default;
$blockquote-chulapa-text-color: $body-color !default;

$pre-chulapa-bg-color: mix($body-bg, $body-color, 5%) !default;


$pagination-chulapa-bg-hover-color: $white !default;
$min-contrast-ratio: 2 !default;


// Lines for dark themes

// @import "skins/dark-bg";


// Special rules

.hero-chulapa h1,
.hero-chulapa-image h1,
.splash-chulapa h1,
.splash-chulapa-image h1 {
  font-family: $page-title-font-family;
  font-weight: 1000 !important;
}

nav, .navbar, .navbar-chulapa-fab .nav-item, .navbar-chulapa, .footer-chulapa {
  font-family: $font-family-base;
  font-weight: $headings-font-weight !important;
}


.navbar-chulapa .active, .navbar-chulapa-fab .active {
  color: mix($navbar-chulapa-text-color, $navbar-chulapa-bg-color, 80%) !important;
}


.chulapa-links-hover-only i {
  color: $link-color;
}

.chulapaDateSocial time, .chulapaDateSocial .chulapa-text-line-through {
  font-family: $font-family-monospace;
}

time {
  font-family: $font-family-monospace;
  font-style: normal !important;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Overrides _type.scss */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin-top: 2em;
}

.blockquote, blockquote {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

blockquote {
  border-radius: 0 !important;
  border-left: solid $link-color !important;
  padding-left: 1rem !important;
}

footer {
  font-size: 0.75em;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Custom rules. */
$frame-width: 24px;
$frame-width-sm: 16px;

body {
  letter-spacing: 0.025rem;
  font-feature-settings: 'tnum';
}

$test-colors: white, yellow, cyan, lime, magenta, red, blue, black;
// Create empty list
$test-color-stops: null;
@for $i from 1 through (length($test-colors)) {
  $test-color-stop: #{list.nth($test-colors, $i) + ' ' + ($i - 1) * math.div(100,length($test-colors)) + '%,'
  list.nth($test-colors, $i) + ' ' + $i * math.div(100,length($test-colors)) + '%'
  };
  $test-color-stops: list.append($test-color-stops, $test-color-stop, comma);
}

@keyframes rotate {
  from {
    --angle: 90deg;
  }
  to {
    --angle: 450deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: false;
}

body {
  margin: $frame-width;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-width: $frame-width;
  border-style: solid;
  border-image: linear-gradient(var(--angle), $test-color-stops) 1;
  animation: 480s*2 rotate linear infinite;
  // box-shadow: 10px 10px 10px white;
  pointer-events: none;
}


.hero-chulapa-image {
  border-radius: $frame-width;
  margin: $frame-width;
  background-origin: content-box;
  align-items: flex-end !important;
  justify-content: center !important;

  .title-container {
    padding: $frame-width;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-weight: 1000 !important;
      font-family: 'Press Start 2P', 'Roboto', sans-serif !important;
      text-align: center;
      font-size: 2rem;
      line-height: 1;
      padding: 0.25em 1em;
      margin: 0;
      background-color: $body-bg;
      text-shadow: none;
      max-width: 100%;
    }

    p {
      font-family: 'Press Start 2P', 'Roboto', sans-serif !important;
      font-size: 1rem;
      line-height: 1;
      text-shadow: none;
      background-color: $body-bg;
      padding: 0.25em 1em;
      margin: 0;
      max-width: 100%;
    }
  }
}

@media (max-width: 575px) {
  body {
    margin: $frame-width-sm;
  }
  body::after {
    border-width: $frame-width-sm;
  }
  .hero-chulapa-image {
    border-radius: $frame-width-sm;
    margin: $frame-width-sm;

    .title-container {
      width: 100%;
      padding: $frame-width-sm;

      h1 {
        font-size: 1.6rem;
        // background-color: rgba($body-bg, .5);
      }
    }
  }
}

// Sticky nav
.sticky-top {
  top: $frame-width;
}

/* Cards */
.card-body {
  p {
    font-size: 0.875rem;
    margin: 0;

  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}

/* Chart tooltip */
#vg-tooltip-element {
  background-color: $body-bg;
  border: 1px solid #d9d9d9;
  color: black;
}

/* Search page */

.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: #3a424c;
}

/* Caption */
.caption {
  font-family: $font-family-monospace;
  font-weight: bold;
  padding: 0;
  margin: 3em 0 1em 0;
  font-size: 0.875em;
}

/* Vega charts */

.vega-bind {
  font-size: 0.875em;
  font-family: $font-family-monospace;

  label {
    display: flex;
    align-items: center;

    .vega-bind-name {
      margin-inline-end: 1em;
    }

    input {
      margin-inline-end: 0.5em;
    }
  }
}

vegachart + p {
  margin-top: 3em;
}

/* Code */
code {
  color: $body-color;
}

/* Nav bar */
.navbar-expand .navbar-nav .nav-link {
  padding: 0.2em !important;
  font-size: 0.75rem;
}

.navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav {
  .nav-item:last-child {
    background-color: $link-color;
    border-radius: 4px;
    padding-inline-start: 0.4em;
    padding-inline-end: 0.4em;

    &:hover, &:focus {
      background-color: $footer-chulapa-hover-color !important;
    }

    a.nav-link {
      color: $body-bg !important;
      font-weight: 500 !important;

      &.active {
        font-weight: 800 !important;
      }
    }
  }
}

/* Links */

.footer-chulapa a {
  color: $link-color;
}

.footer-chulapa a:hover, .footer-chulapa a:focus {
  color: $footer-chulapa-hover-color;
}

/* Tables */
div:not(.vg-tooltip) {
  table {
    font-family: $font-family-monospace;
    font-size: 0.875rem;
  }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


#sezione-1, #sezione-11, #sezione-12, #mappa-delle-stragi, #galleria {
  scroll-margin-top: 60px; /* Imposta lo spazio di scorrimento prima dell'elemento ancorato */
}

.tech {
  background-color: rgba(216, 248, 217, 0.7);
  padding: 20px;
  margin-bottom: 20px;
}

.tech-show {
  display: block;
}

.tech-hide {
  display: none;
}

.modal {
  z-index: 100;
}

.modal-backdrop {
  z-index: 99;
}

.sticky-top {
  z-index: 98;
}

// card container:
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .card-img {
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }

  .card-img img {
    max-width: 100%;
  }

  .card-body {
    padding: 10px;
    padding-top: 0;

    h5 {
      margin-top: 0.5rem;
    }
  }
}

.card-container .card {
  flex: 1 1 100%; /* Default: cards take full width on small screens */
  max-width: 100%;
}

@media (min-width: 576px) {
  .card-container .card {
    flex: 1 1 calc(50% - 1rem); /* 2 cards per row on small screens */
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .card-container .card {
    flex: 1 1 calc(33.33% - 1rem); /* 3 cards per row on medium screens */
    max-width: calc(33.33% - 1rem);
  }
}

@media (min-width: 992px) {
  .card-container .card {
    flex: 1 1 calc(25% - 1rem); /* 4 cards per row on large screens */
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 1200px) {
  .card-container .card {
    flex: 1 1 calc(20% - 1rem); /* 5 cards per row on extra-large screens */
    max-width: calc(20% - 1rem);
  }
}

// badges with big numbers and description using grid:
.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin-top: 1rem;
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

// Background full width color:
.bg-color-full {
  clip-path: inset(0 -100vmax);
  box-shadow: 0 0 0 100vmax rgba(243, 173, 149, 0.3);
}

.bg-color {
  background-color: rgba(243, 173, 149, 0.3);
}

// iframe :
iframe {
  border: 0;
}

// wrench
.tech-wrench .fa-wrench:hover {
  transform: scale(1, 1) !important;
}