/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Overrides gitdev-dark.scss */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.hero-chulapa h1,
.hero-chulapa-image h1,
.splash-chulapa h1,
.splash-chulapa-image h1 {
  font-family: "Montserrat", Roboto;
  font-weight: 1000 !important;
}

nav, .navbar, .navbar-chulapa-fab .nav-item, .navbar-chulapa, .footer-chulapa {
  font-family: "Montserrat", Roboto;
  font-weight: 700 !important;
}

.navbar-chulapa .active, .navbar-chulapa-fab .active {
  color: #d2d3d3 !important;
}

.chulapa-links-hover-only i {
  color: #fdb462;
}

.chulapaDateSocial time, .chulapaDateSocial .chulapa-text-line-through {
  font-family: "Space Mono", monospace;
}

time {
  font-family: "Space Mono", monospace;
  font-style: normal !important;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Overrides _type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", Roboto;
  font-weight: 700;
  margin-top: 2em;
}

.blockquote, blockquote {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

blockquote {
  border-radius: 0 !important;
  border-left: solid #fdb462 !important;
  padding-left: 1rem !important;
}

footer {
  font-size: 0.75em;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Custom rules. */
/* Internal navigation */
html {
  scroll-padding-top: calc(80px + 2rem);
}

body {
  letter-spacing: 0.025rem;
  font-feature-settings: "tnum";
}

@keyframes rotate {
  from {
    --angle: 90deg;
  }
  to {
    --angle: 450deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
body {
  margin: 24px;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-width: 24px;
  border-style: solid;
  border-image: linear-gradient(var(--angle), white 0%, white 12.5%, yellow 12.5%, yellow 25%, cyan 25%, cyan 37.5%, lime 37.5%, lime 50%, magenta 50%, magenta 62.5%, red 62.5%, red 75%, blue 75%, blue 87.5%, black 87.5%, black 100%) 1;
  animation: 960s rotate linear infinite;
  pointer-events: none;
}

.hero-chulapa-image {
  border-radius: 24px;
  margin: 24px;
  background-origin: content-box;
  align-items: flex-end !important;
  justify-content: center !important;
}
.hero-chulapa-image .title-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-chulapa-image .title-container h1 {
  text-transform: uppercase;
  font-weight: 1000 !important;
  font-family: "Press Start 2P", "Roboto", sans-serif !important;
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  padding: 0.25em 1em;
  margin: 0;
  background-color: #1D2225;
  text-shadow: none;
  max-width: 100%;
}
.hero-chulapa-image .title-container p {
  font-family: "Press Start 2P", "Roboto", sans-serif !important;
  font-size: 1rem;
  line-height: 1;
  text-shadow: none;
  background-color: #1D2225;
  padding: 0.25em 1em;
  margin: 0;
  max-width: 100%;
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: calc(16px + 2rem);
  }
}
@media (max-width: 575px) {
  body {
    margin: 16px;
  }
  body::after {
    border-width: 16px;
  }
  .hero-chulapa-image {
    border-radius: 16px;
    margin: 16px;
  }
  .hero-chulapa-image .title-container {
    width: 100%;
    padding: 16px;
  }
  .hero-chulapa-image .title-container h1 {
    font-size: 1.6rem;
  }
}
.sticky-top {
  top: 24px;
}

/* Cards */
.card-body p {
  font-size: 0.875rem;
  margin: 0;
}
.card-body h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Chart tooltip */
#vg-tooltip-element {
  background-color: #1D2225;
  border: 1px solid #d9d9d9;
  color: black;
}

/* Search page */
.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: #3a424c;
}

/* Caption */
.caption {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  padding: 0;
  margin: 3em 0 1em 0;
  font-size: 0.875em;
}

/* Vega charts */
.vega-bind {
  font-size: 0.875em;
  font-family: "Space Mono", monospace;
}
.vega-bind label {
  display: flex;
  align-items: center;
}
.vega-bind label .vega-bind-name {
  margin-inline-end: 1em;
}
.vega-bind label input {
  margin-inline-end: 0.5em;
}

vegachart + p {
  margin-top: 3em;
}

/* Code */
code {
  color: #fff;
}

/* Nav bar */
.navbar-expand .navbar-nav .nav-link {
  padding: 0.2em !important;
  font-size: 0.75rem;
}

.navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav .nav-item:last-child {
  background-color: #fdb462;
  border-radius: 4px;
  padding-inline-start: 0.4em;
  padding-inline-end: 0.4em;
}
.navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav .nav-item:last-child:hover, .navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav .nav-item:last-child:focus {
  background-color: #FB8804 !important;
}
.navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav .nav-item:last-child a.nav-link {
  color: #1D2225 !important;
  font-weight: 500 !important;
}
.navbar.navbar-expand.sticky-top.navbar-chulapa .navbar-nav .nav-item:last-child a.nav-link.active {
  font-weight: 800 !important;
}

/* Links */
.footer-chulapa a {
  color: #fdb462;
}

.footer-chulapa a:hover, .footer-chulapa a:focus {
  color: #FB8804;
}

/* Tables */
div:not(.vg-tooltip) table {
  font-family: "Space Mono", monospace;
  font-size: 0.875rem;
}

/* Button sidebar */
.chulapa-btn-sidebar {
  bottom: 3.15rem;
  left: 0;
  margin-left: -400px;
  opacity: 1;
  z-index: 1099;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-color: #FB8804;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
#sezione-1, #sezione-11, #sezione-12, #mappa-delle-stragi, #galleria {
  scroll-margin-top: 60px; /* Imposta lo spazio di scorrimento prima dell'elemento ancorato */
}

.tech {
  background-color: rgba(216, 248, 217, 0.7);
  padding: 20px;
  margin-bottom: 20px;
}

.tech-show {
  display: block;
}

.tech-hide {
  display: none;
}

.modal {
  z-index: 100;
}

.modal-backdrop {
  z-index: 99;
}

.sticky-top {
  z-index: 98;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.card-container .card-img {
  width: 100%;
  object-fit: cover;
  padding: 10px;
}
.card-container .card-img img {
  max-width: 100%;
}
.card-container .card-body {
  padding: 10px;
  padding-top: 0;
}
.card-container .card-body h5 {
  margin-top: 0.5rem;
}

.card-container .card {
  flex: 1 1 100%; /* Default: cards take full width on small screens */
  max-width: 100%;
}

@media (min-width: 576px) {
  .card-container .card {
    flex: 1 1 calc(50% - 1rem); /* 2 cards per row on small screens */
    max-width: calc(50% - 1rem);
  }
}
@media (min-width: 768px) {
  .card-container .card {
    flex: 1 1 calc(33.33% - 1rem); /* 3 cards per row on medium screens */
    max-width: calc(33.33% - 1rem);
  }
}
@media (min-width: 992px) {
  .card-container .card {
    flex: 1 1 calc(25% - 1rem); /* 4 cards per row on large screens */
    max-width: calc(25% - 1rem);
  }
}
@media (min-width: 1200px) {
  .card-container .card {
    flex: 1 1 calc(20% - 1rem); /* 5 cards per row on extra-large screens */
    max-width: calc(20% - 1rem);
  }
}
.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin-top: 1rem;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.bg-color-full {
  clip-path: inset(0 -100vmax);
  box-shadow: 0 0 0 100vmax rgba(243, 173, 149, 0.3);
}

.bg-color {
  background-color: rgba(243, 173, 149, 0.3);
}

iframe {
  border: 0;
}

.tech-wrench .fa-wrench:hover {
  transform: scale(1, 1) !important;
}

/*# sourceMappingURL=custom.css.map */